<nav>
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <span>Categories: </span>
  <a href="/menu/mains">Main Courses</a>
  <a href="/menu/sides">Side Dishes</a>
  <a href="/menu/desserts">Desserts</a>
</nav>
